body {
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
  }
  
  .contact-container {
    width: 400px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    margin: 100px auto;
    padding: 30px;
    text-align: center;
  }
  
  img {
    margin-bottom: 30px;
  }
  
  h1 {
    margin-bottom: 30px;
    color: #333;
    font-size: 24px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
  }
  a {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
    resize: none;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  .logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  nav {
    display: flex;
  }
  
  nav a {
    color: #fff;
    margin-right: 20px;
    text-decoration: none;}  